In [1]:
import pickle
import pandas as pd
from tqdm import tqdm

### Load pickle data

In [2]:
with open('data/raw_data_mod21c3.pkl', 'rb') as f:
    data = pickle.load(f)

In [3]:
list = []
coordinate = [str(item[1:3]) for item in data[0]]

for day in tqdm(range(len(data))):
    daily_data = data[day]
    date = daily_data[1][0]
    year = date.split("_")[0]
    temp_list = [item[-1] for item in daily_data]
    temp_list.insert(0, year)
    temp_list.insert(1, date)
    list.append(temp_list)
    
df = pd.DataFrame(list, columns=['year', 'date'] + coordinate)

100%|██████████| 60/60 [00:01<00:00, 48.95it/s]

In [4]:
df.head()

,year,date,"['longitude', 'latitude']","[110.65896827426326, -3.0318140839033854]","[110.66795142710446, -3.0318140839033854]","[110.64998512142206, -3.02283093106219]","[110.65896827426326, -3.02283093106219]","[110.66795142710446, -3.02283093106219]","[110.67693457994565, -3.02283093106219]","[110.68591773278685, -3.02283093106219]",...,"[109.61692254468461, 2.025700965689521]","[109.62590569752581, 2.025700965689521]","[109.61692254468461, 2.0346841185307163]","[109.62590569752581, 2.0346841185307163]","[109.62590569752581, 2.0436672713719113]","[109.62590569752581, 2.0526504242131067]","[109.634888850367, 2.0526504242131067]","[109.634888850367, 2.0616335770543017]","[109.1048828327365, 2.070616729895497]","[109.0958996798953, 2.079599882736692]"
0,2019,2019_01_01,LST_Day,307.06,307.06,304.88,307.06,307.06,307.06,307.06,...,303.44,303.44,303.44,303.44,303.44,NaN,NaN,NaN,302.48,None
1,2019,2019_02_01,LST_Day,308.28,308.28,306.64,308.28,308.28,308.28,308.28,...,297.28,297.28,297.28,297.28,297.28,NaN,NaN,NaN,302.96,None
2,2019,2019_03_01,LST_Day,307.98,307.98,306.94,307.98,307.98,307.98,307.98,...,306.88,306.88,306.88,306.88,306.88,303.98,303.98,303.98,305.38,None
3,2019,2019_04_01,LST_Day,308.26,308.26,306.78,308.26,308.26,308.26,308.26,...,304.98,304.98,304.98,304.98,304.98,303.60,303.60,303.60,307.60,None
4,2019,2019_05_01,LST_Day,308.22,308.22,306.42,308.22,308.22,308.22,308.22,...,308.76,308.76,308.76,308.76,308.76,NaN,NaN,NaN,NaN,None

In [5]:
# TODO: remove label columns 
df.drop(df.columns[2], axis=1, inplace=True)

In [6]:
df.head()

,year,date,"[110.65896827426326, -3.0318140839033854]","[110.66795142710446, -3.0318140839033854]","[110.64998512142206, -3.02283093106219]","[110.65896827426326, -3.02283093106219]","[110.66795142710446, -3.02283093106219]","[110.67693457994565, -3.02283093106219]","[110.68591773278685, -3.02283093106219]","[110.64100196858087, -3.013847778220995]",...,"[109.61692254468461, 2.025700965689521]","[109.62590569752581, 2.025700965689521]","[109.61692254468461, 2.0346841185307163]","[109.62590569752581, 2.0346841185307163]","[109.62590569752581, 2.0436672713719113]","[109.62590569752581, 2.0526504242131067]","[109.634888850367, 2.0526504242131067]","[109.634888850367, 2.0616335770543017]","[109.1048828327365, 2.070616729895497]","[109.0958996798953, 2.079599882736692]"
0,2019,2019_01_01,307.06,307.06,304.88,307.06,307.06,307.06,307.06,304.88,...,303.44,303.44,303.44,303.44,303.44,NaN,NaN,NaN,302.48,None
1,2019,2019_02_01,308.28,308.28,306.64,308.28,308.28,308.28,308.28,306.64,...,297.28,297.28,297.28,297.28,297.28,NaN,NaN,NaN,302.96,None
2,2019,2019_03_01,307.98,307.98,306.94,307.98,307.98,307.98,307.98,306.94,...,306.88,306.88,306.88,306.88,306.88,303.98,303.98,303.98,305.38,None
3,2019,2019_04_01,308.26,308.26,306.78,308.26,308.26,308.26,308.26,306.78,...,304.98,304.98,304.98,304.98,304.98,303.60,303.60,303.60,307.60,None
4,2019,2019_05_01,308.22,308.22,306.42,308.22,308.22,308.22,308.22,306.42,...,308.76,308.76,308.76,308.76,308.76,NaN,NaN,NaN,NaN,None

In [7]:
df.to_csv('data/data_mod21c3.csv', index=False)